version: '3.8'
services:
  migrate-cron:
    build:
      context: .
      dockerfile: docker/migration-cron/Dockerfile
    image: auvo-migration-cron:latest
    restart: always
    environment:
      # Configure to use the centralized DB. When starting this service
      # together with the central DB compose, use:
      # docker compose -f db/docker-compose.yml -f auvo/docker-compose.cron.yml up -d
      PGHOST: db
      PGPORT: 5432
      PGUSER: sync_user
      PGPASSWORD: sync_pass
      PGDATABASE: sync_apis
    depends_on:
      - db
    volumes:
      - ./:/app:ro
