version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: auvo
      POSTGRES_PASSWORD: auvo_pass
      POSTGRES_DB: auvo
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
volumes:
  pgdata:
